@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body{  
  font-family: sans-serif;
  font-size: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  background: linear-gradient(30deg, #ba5370, #f4e2d8); 
}
.container{
width: 100vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
h2{
margin-top: 30px;
}
.budget-container{
width:60% ;
border: 2px solid rgb(24, 146, 48);
border-radius: 5px;
}
#budget-btn{
display: flex;
flex-direction: column;
width:100% ;
padding: 0px 30px 20px;
border-radius: 5px;
}
.budget-container label{
margin: 10px 0 0;
}
.budget-container input{
  margin: 10px 0;
  padding: 5px;  
  border: 1px solid rgb(24, 146, 48);
  border-radius: 5px;
}
.budget-container .btn{
  padding: 5px;
  width: 120px;
  color: rgb(24, 146, 48);
  border: 1px solid rgb(24, 146, 48);
  border-radius: 5px;
}

.resume-container{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-radius: 5px;
  width: 60%;
}
.resume-container .resume{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  text-align: center;
  gap: 10px;
}
.resume-container i{
  color: rgb(2, 71, 109);
  font-size: 30px;
}
.expenses-container{  
  width: 60%;
}
#btn-expenses{ 
  height: 100%;
  width: 100%;
  padding: 10px 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid rgb(185, 51, 36);
  border-radius: 5px;
}
.expenses-container label{
  margin: 10px 0 0;
}
.expenses-container input{
  margin: 10px 0;
  padding: 5px;
  border: 1px solid rgb(165, 39, 37);
  border-radius: 5px;
}
.expenses-container .btn{
  padding: 5px;
  width: 120px;
  color: rgb(224, 17, 17);
  border: 1px solid rgb(223, 54, 54);
  border-radius: 5px;
}


.edit-trash-icons .edit{
  color: rgb(2, 71, 109);
  padding-right: 10px;

}
.edit-trash-icons .trash{
  color: rgb(145, 25, 25);
}


@media screen and (max-width: 550px){
  .resume-container{
    width: 65%;
  }


}
@media screen and (max-width: 700px){
  .expenses-container-title-value {
  
    gap: 20px;
  }
  .edit-trash-icons{
    display: flex;
  }
}
#resume-budget p, #resume-budget span{
  color: green;
  font-size: 30px;
}
#resume-expense p, #resume-expense span{
  color: rgb(133, 19, 19);
  font-size: 30px;
  
}
#resume-balance p, #resume-balance span{
  font-size: 30px;
}
.exp-val {
  display: flex;
  width: 30px;
  width: 100px;
  justify-content: center;
}


.expenses-value p, .expenses-value span{
  color: rgb(128, 20, 20);
  font-size: 30px;
}
.budget-error-msg, .expense-error-msg{
  background-color: rgb(218, 141, 141);
  padding: 20px;
  width: 50%;
  margin-left: 30px;
  color: brown;
  border-radius: 10px;
  display: none;
}
.budget-error-msg{
  margin-top: 20px;
}
.budget-error-msg.show, .expense-error-msg.show{
  display: block;
}

.expenses-container-title-value{
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  width: 60%;
}
.expenses-title{
  display: flex;
  gap: 10px;  
}
.expense-values{
 display: flex;
 justify-content: space-between;
 align-items: baseline;
 width: 300px;
 
 
}
.title-value{
  display: flex;
 
  color: rgb(189, 12, 12); 
  text-align: center;
  width: 200px;
  
  justify-content: space-between;
  padding: 5px 10px;
  font-size: 25px;
  text-transform: uppercase;
}
.title-value h5{
  width: 50px;
  text-align: center;
}
.edit-trash-icons{
  display: flex;
  text-align: center;
  
}
#balance-amount.show-green{
color: green;
}
#balance-amount.show-red{
  color: rgb(102, 33, 33);
}
#balance-amount.show-black{
  color: black;
}